
Izabella
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fef6f6;
}

h1 {
  color: #ff6f91;
}

.menu a {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 250px;
  background: #ffb6c1;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.menu a:hover {
  background: #ff8fab;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  background-color: #ff6f91;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
}

a:hover {
  background-color: #ff3f70;
}
